.aw-bos .home .loading {
	font-size: 1.3em;
	padding-top: 190px;
	text-align: center;
}
.aw-bos .home .loading .d {
	margin-top: 10px;
	font-size: .8em;
}

.aw-bos .home table.online {
	width: 100%;
}
.aw-bos .home table.online td.onlcoll,
.aw-bos .home table.online td.onlcolr {
	width: 50%;
}

.aw-bos .home table.online td.onlcoll {
	padding-right: 5px;
}
.aw-bos .home table.online td.onlcolr {
	padding-left: 5px;
}

.aw-bos .home table.online .onlitem {
	border: 1px solid #8C8D8E;	
	margin-bottom: 10px;
}
.aw-bos .home table.online .onlhd {
	position: relative;
	background-color: #E3E3D7;
	border-bottom: 1px solid #8C8D8E;
	padding: 4px 7px;
}

.aw-bos .home table.online a.onlrss {
	position: absolute;
	right: 4px;
	top: 4px;
}

.aw-bos .home table.online .onlbd {
	margin: 5px;
}

.aw-bos .home table.online .onlft {
	margin: 5px;
	text-align: right;
}
.aw-bos .home table.online .item {
	line-height: 2em;
	padding: 0 5px;
}

.aw-bos .home table.online .item:hover {
	background-color: #FFF0C6;
	
}
.aw-bos .home table.online a {
	text-decoration: none;
}