<!--[*]
[bkvar=js][/bkvar]
[bkvar=css][/bkvar]
[mod=sys]jsvar|fullcssforie=true[/mod]
[var=version][/var]
[ph=sys:site_name][/ph]
[!mod=user]roles[/mod]

[mcss=bos]main.css[/mcss]

[*]--><!DOCTYPE html>
<html lang="ru">
<head>
	<title>[ph]sys:site_name[/ph] - Abricos BOS UI [var]version[/var]</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="/template/bos/assets/images/favicon.ico" />


    [mod]sys:jsvar[/mod]

    <link href="/vendor/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">

    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <script src="/gzip.php?base=/vendor&v=[var]version[/var]&file=jquery/jquery.min.js,bootstrap/js/bootstrap.min.js"></script>

    [bkvar]css[/bkvar]

	[bkvar]js[/bkvar]
	
	[mod]user:roles[/mod]
</head>
<body class="aw-bos yui3-skin-sam">
	[tt]content[/tt]
</body>
</html>