<!--[*]
[mod=sys]jsvar|fullcssforie=true[/mod]
[ph=sys:site_name][/ph]

[var=js][/var]
[var=css][/var]

[css]/vendor/bootstrap/css/bootstrap.min.css[/css]
[css]/vendor/font-awesome/css/font-awesome.min.css[/css]
[mcss=bos]main.css[/mcss]

[*]--><!DOCTYPE html>
<html lang="ru">
<head>
	<title>[ph]sys:site_name[/ph] / Abricos BOS UI [var]version[/var]</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link rel="shortcut icon" href="{C#ASSETS}/images/favicon.ico" />

    [mod]sys:jsvar[/mod]

    <script src="/gzip.php?base=/vendor&v={C#VERSION}&file=jquery/jquery.min.js,bootstrap/js/bootstrap.min.js"></script>

    [var]js[/var]

    [var]css[/var]

    [mod]rss:meta[/mod]
</head>
<body class="aw-bos yui3-skin-sam">
	[tt]content[/tt]
</body>
</html>