/* YUI Reset CSS */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}

/* YUI Fonts CSS */
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

html {
	background: #fff url(../images/bg_top.gif) repeat-x scroll 0 0;
}
body, html {
	font-size:12px;
	font-family: Verdana,sans-serif,Arial,FreeSans;
	margin:0;
	padding:0;
}

table, tr, td, div, ul, ol, li, p, h1, h2, h3, h4, h5, h6	{
	text-align: left;
}
a, a:link {
	/*color: #6a7398;/**/
    color: #006699;
}
a:hover {
	color: #f00;
}
a:active, a:visited {
	/*color: #6a7398; /**/
    color: #006699;
}
.hide { display: none; }
.clear { clear: both; }

#bos {
	margin: auto;
	max-width: 1024px;
}
#bos #hd {
	padding-top: 8px;
}
#bos #hd {
	border-bottom:1px solid #C82100; 
}

#bos #hd,
#bos #hd a {
	color: #2B587A;
	text-decoration: none;
}
#bos #hd a:hover {
	text-decoration: underline;
}

#bos #hd a.minbtn {
	color: gray;
}

/* * Active Panel List * */
#bos #hd #activepanel div.more,
#bos #hd #activepanel div.tl {
	margin-top: 2px;
	margin-left: 5px;
}

#bos #hd #activepanel div.more {
	display: none;
}
#bos #hd #activepanel .mflag div.more {
	text-decoration: underline;
	display: block;
}

#bos #hd #activepanel div.tl, 
#bos #hd #activepanel select {
	font-family: Verdana,sans-serif,Arial,FreeSans;
}

#bos #hd #activepanel:hover .mflag div.tl, 
#bos #hd #activepanel:hover .mflag div.more {
	display: none;
}
#bos #hd #activepanel div.act {
	display: none;
}
#bos #hd #activepanel:hover .mflag div.act {
	display: block;
}
#bos #hd #activepanel div.tl,
#bos #hd #activepanel div.more,
#bos #hd #activepanel select,
#bos #hd #activepanel .bclose {
	float: left;
}

#bos #hd #activepanel .bclose {
	cursor: pointer;
	margin-left: 7px;
	margin-top: 5px;
	background: url("/modules/bos/tt/images/remove.gif") no-repeat scroll 0 0 transparent;
	height: 9px;
	width: 9px;
}

/* * * * Footer * * * */
#bos #ft {
	border-top:1px solid #446803;
	margin-top: 1em;
	margin-bottom: 2em;
	padding-top: 3px;
}
#bos #ft .abricos {
	font-size: 0.9em;
	text-align: right;
	position: relative;
}
#bos #ft .abricos a.sitehome {
	position: absolute;
	left: 0; top: 0;
}
#bos #ft .abricos a {
	color: #999999;
	text-decoration: none;
}
#bos #ft .abricos a:hover {
	text-decoration: underline;
}

#bos #hd .buser {
	text-align: right;
	font-size: 13px;
	height: 1.7em;
}

#bos #hd .bosmenu {
	margin-top: 4px;
	border-top:1px solid #C82100; 
}

#bos #bd {
	min-height: 420px;
}
#bos #bd #home .firstwaitpanel {
	text-align: center; 
	margin: auto; 
	padding-top: 170px; 
	width: 300px;
}

#bos #bd.movedmode {
	overflow: hidden;
}
#bos #pages.movedmode {
	position: relative;
}

#bos .page {
	margin-top: 10px;
}

#bos .page .hd {
	display: none;
}

#bos .page h3 {
	font-size: 1.28em;
	font-weight: bold;
	color: #333;
	padding-bottom: 0.5em;
}

#bos #hd .main-rss {
	padding-left: 10px;
	width: 21px;
	vertical-align: middle;
}

#userblock {
	color:#666666;
	text-align: left;
}
#userblock form{
	clear: both;
}

.big #userblock {
	margin: 10px;
	line-height: 1em;
}
.big #userblock .atd span {
	display: block;
}
.big #userblock .autologin {
	display: block;
}
.big #userblock .autologin span {
	display: inline;
}
.big #userblock #chk-autologin {
	margin: 0 5px 0 0;
}
.big #userblock #txt-login,
.big #userblock #txt-password {
	font-family:Tahoma;
	font-size: 2em;
	margin-bottom: 10px;
	width:300px;
}
.big #userblock .btn-authorize {
	font-size: 1.5em;
	padding: 0 6px;
	display: block;
	margin-top: 5px;
}
.big #userblock ul li {
	float:left;
}
.big #userblock .register ,
.big #userblock .recpwd {
	padding: 10px 10px 0 0;
}
