body {
  padding-top: 70px;
}

.aw-bos {
  #bos {
    .bos-menu {
      .icon {
        max-width: 24px;
        max-height: 24px;
      }
    }
    #bos-pages {
      min-height: 400px;
    }
  }
}

